<li>
    {{burger_name}}

    <button class="change-devour btn-sm" data-id="{{id}}" data-newdevoured="{{devour}}">
        {{#if devoured}}Burger Time{{else}}No More Burgers{{/if}}
    </button>
</li>